<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>计算属性</title>
    <script src="vue.js"></script>
    <style>

    </style>
</head>
<body>
<div id="app1">
    v-if的语法和v-show的语法类似

    v-if只有在为true时才会被渲染，切换过程中会一直销毁和重建；v-show则是一开始就会渲染，但是在切换过程中不会重复渲染，因此，如果
    一个元素需要频繁切换其状态则用v-show好，如果只有在运行中某个时间可能用到，则用v-if


    <div v-if='ok'>yes</div>
    <div v-else>no</div>
    <div v-if="Math.random() > 0.5">
        Now you see me
    </div>
    <div v-else>
        Now you don't
    </div>

    <!--用key管理可以复用的元素-->
    <template v-if="type==='username'">
        <label>username</label>
        <input type="text" placeholder="input you name" key="username-input">
    </template>
    <template v-else="type==='email'">
        <label for="email">email</label>
        <input type="text" placeholder="input your email" key="email-input">
    </template>
    <button v-on:click="change">改变输入方式</button>
</div>

<script>
    var vm1=new Vue({
        el:"#app1",
        data:{
            ok:true,
            type:'username'
        },
        methods:{
            change:function () {
                if(this.type==='username'){
                    this.type='email';
                }else{
                    this.type='username';
                }
            }
        }
    })
</script>
</body>
</html>