<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>列表渲染</title>
    <script src="vue.js"></script>
</head>
<style>
    .divider{
        display: block;
        width:300px;
        height: 30px;
        background: red;
    }
</style>
<body>


<div id="app">

    <!--v-for循环遍历数组中的数据，并且添加到DOM中-->
    <ul>
        <li v-for="value in arr">
            {{value}}
        </li>
    </ul>
    第一个参数：属性值
    第二个参数：属性名
    第三个参数：属性在对象中的索引
    <ol>
        <li v-for="(value,key,index) in json">
            {{key}}:{{value}}--{{index}}
        </li>
    </ol>

    <ol>
        <li v-for="(value,key) in obj">
            {{value}}--{{key}}
        </li>
    </ol>

    template模板结合v-for使用，每个value下都会有divider

    <ul>
        <template v-for="value in json">
            <li>{{value}}</li>
            <li class="divider"></li>
        </template>
    </ul>

    数组的更新和检测

    两种情况下数组中的值改变不会被动态的渲染：
    items=[....]
    1.改变 数组中第index项的值：items[index-1]=newValue
    2.修改数组的长度  items.length=newLength

    对于第一中情况，有2种替代的方法：
    1.set(items,index-1,newValue)  第一个参数：数组对象  第二个参数:index位置  第三个参数：新的值
    2.采用数组原始的splice方法  items.splice(index-1,1,newValue)

    对于第二中情况，可以采用splice方法：
    items.splice(newLength)

</div>
    数组的过滤和重拍：


    <div id="app2" >
        computed方法：
        <span v-for="value in newitems">{{value}}  </span><br>
        methods方法:
        <span v-for="value in fliter(numbers)">{{value}}  </span>
    </div>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            arr:["apple","orange","pear"],      //可以是数组

            json: {                          //可以是json数据
                a: "apple",
                b: "orange",
                c: "pear"
            },
            obj:[
                {a:'apple'},
                {b:"orange"},
                {c:"pear"}
            ]
        }
    });

    var vm=new Vue({
        el:"#app2",
        data:{
            numbers:[1,2,3,4,5,6,7,8]
        },
        computed:{
            newitems:function () {
                return this.numbers.filter(function (item) {
                    return  item%2===0
                })
            }
        },
        methods:{
            fliter:function (num) {
                return num.filter(function (item) {
                    return  item%3===0
                })
            }
        }
    })
</script>
</body>
</html>