<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>声明与渲染</title>
    <script src="vue.js"></script>
</head>
<body>


<div id="app">

    <!--绑定date数据为message的title-->
    <p v-bind:title="date"> {{ message }}</p>


    <label>
        <input type="text" v-model="message">
    </label>
    <br>

    <!--如果seen为true则显示-->
    <p v-if="seen">可以看见的元素</p>

    <p > {{num}} </p>

    <!--v-for循环遍历数组中的数据，并且添加到DOM中-->
    <ul>
        <li v-for="value in arr">
            {{value}}
        </li>
    </ul>
    第一个参数：属性值
    第二个参数：属性名
    第三个参数：属性在对象中的索引
    <ol>
        <li v-for="(value,key,index) in json">
            {{key}}:{{value}}--{{index}}
        </li>
    </ol>

    <ol>
        <li v-for="(value,key) in obj">
            {{value}}--{{key}}
        </li>
    </ol>

    <!--v-on绑定了事件，可以是click/mouseover/mouseout等等-->
    <button v-on:mouseover="reverseMessage">逆转消息</button>
</div>



<script>
    var app = new Vue({
        el: '#app',                 //el为element元素，是一个选择器

        data: {                     //数据接口 直接反应在DOM中
            message: 'Hello Vue!',          //可以是字符串

            date:"页面加载于"+new Date(),

            seen:true,                     //可以是boolean值

            num: 12,                        //可以是数字

            arr:["apple","orange","pear"],      //可以是数组

            json: {                          //可以是json数据
                a: "apple",
                b: "orange",
                c: "pear"
            },
            obj:[
                {a:'apple'},
                {b:"orange"},
                {c:"pear"}
            ]
        },
        methods:{                           //methods中保存着元素方法
            reverseMessage:function () {
                this.message=this.message.split('').reverse().join('');     //反转了message信息
            }
        }


    })
</script>
</body>
</html>