<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>v-for和组件</title>
    <script src="vue.js"></script>
</head>
<body>

<div id="app1">
    <input type="text"
           v-model="item"
           @keyup.enter="addtodo"
           placeholder="add a todo">
    <ul>
        <li is="todo-item"
            v-for="(item,index) in todos"
            :item="item"
            @remove="remove(index)">

        </li>
    </ul>

</div>
<script>
    var todo={
        template:'<li>{{item}}<button @click="$emit(\'remove\')">X</button></li>',
        props:['item']
    };
    var vm=new Vue({
        el:"#app1",
        data:{
            todos:['Do the dishes',
                    'Take out the trash',
                    'Mow the lawn'],
            item:''
        },
        components:{
            'todo-item':todo
        },
        methods:{
            remove:function (index) {
                this.todos.splice(index,1)
            },
            addtodo:function () {
                this.todos.push(this.item);
                this.item=''
            }

        }
    })
</script>
</body>
</html>