<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>计算属性</title>
    <script src="vue.js"></script>
</head>
<body>
<div id="app">
    <label for="firstname">firstname:<input type="text" id="firstname" v-model="firstname"></label>
    <label for="lastname">lastname:<input type="text" id="lastname" v-model="lastname"> </label>
    <label for="fullname">fullname:<input type="text" id="fullname" v-model="fullname"></label>
</div>
<script>
    var vm=new Vue({
        el:"#app",
        data:{
            firstname:"fu",
            lastname:"zhengsong"
        },
       computed:{
            fullname: {
                //通过设置firstname和lastname改变fullname
                get: function () {                              //fullname 会随着firstname和lastname的变化而变化
                    return this.firstname + ' ' + this.lastname;
                },

                //setter 通过设置fullname改变firstname和lastname

                set:function (newVlaue) {
                    var names=newVlaue.split(' ');
                    this.firstname=names[0];
                    this.lastname=names[names.length-1];
                }
            }
       }
//       watch:{
//          firstname:function (val) {                            //和computed有相同的效果，监听了firstname和lastname的变化
//             this.fullname=val+' '+this.lastname;
//          },
//           lastname:function (val) {
//               this.fullname=this.firstname+' '+val;
//           }
//       }

    })
</script>
</body>
</html>