<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>表单控件</title>
    <script src="vue.js"></script>
</head>
<style>
</style>
<body>


<div id="app1">
    1.文本框
    <input type="text" v-model="message"><br>
    <P>输出文本框中Message:{{message}}</P>

    2.多行文本
    <textarea v-model="message1"></textarea>
    <p>输出多行文本：</p>
    <p style="white-space:pre">{{message1}}</p>

    3.<p>复选框:选中元素后将value中的数组加入到checkName的数组中去</p>

    <label for=""><input type="checkbox" value=" jack" v-model="checkName">jack</label><br>
    <label for=""><input type="checkbox" value=" lose" v-model="checkName">lose</label><br>
    <label for=""><input type="checkbox" value=" fu " v-model="checkName">fu</label><br>
    <p>You check names:{{checkName}}</p>

    4.<P>单选框：v-model相当于name的功能，只能选中一个，选中的控件的value会被写入数据中</P>
    <label for=""><input type="radio" value="jack" id="jack" v-model="picked">jack</label>
    <label for=""><input type="radio" value="lose" id="rose" v-model="picked">lose</label><br>
    <span>Picked: {{ picked }}</span>


</div>



<script>
    var vm1=new Vue({
        el:"#app1",
        data:{
            message:'',
            message1:'',
            checkName:[],
            picked:''
        }
    })
</script>
</body>
</html>